html, body
{
    height: 100%;
}

#app {
    height: 100%;
    background-color: #f1f4f8
}

.blog-divider {
    border-top: 10px solid #bbb;
    border-radius: 5px;
}

.logo-span {
    padding: 0.5rem 1rem;
    font-size: 2rem;
    font-weight: 900;
}

.logo-span-small {
    padding: 0.5rem 1rem;
    font-size: 2rem;
    font-weight: 900;
}

.avatar-icon {
    font-size: 2rem;
    margin: 0px 10px;
}

.image-container {
    width: 100%;
}

.image-container img {
    width: 100%;
    border-radius: 50%;
}
.admin-top-message {
    position: fixed;
    width: fit-content;
    right: 1%;
    top: 5%;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.w-fit-content {
    width: fit-content;
}

.ms-50 {
    margin-left: 50%;
}

.login-header {
    width: fit-content;
    margin-bottom: 5%;
}

.admin-login-form {
    width: 80%;
}

.h-fit-content {
    height: fit-content;
}

.admin-main {
    background-color: #f1f4f8
}

.menu-container {
    width: 20%;
}

.w-40 {
    width: 40%;
}

.question-image {
    width: 500px;
    height: 250px;
}

.test-nav {
    width: 20%;
    max-height: 100%;
}

.test-nav-scroll {
    max-height: 100%;
    overflow: auto;
    overflow-x:hidden;
}

.question-highlight {
    border: rgb(240, 237, 107) solid 2px;
    border-radius: 2%;
}

.duration {
    font-size: 3rem;
    font-weight: 800;
    text-align: center;
}

.small-img {
    width: 300px;
    height: 150px;
}

.label-button {
    border: #0d6efd solid 1px;
    padding: 6px 12px;
    margin: 6px 0px;
    border-radius: 0.25rem;
    background-color: #0d6efd;
    color: white;
    width: fit-content;
}

.label-button:hover {
    border: #0a57cc solid 1px;
    background-color: #0a57cc;
    cursor: pointer;
}

