@font-face {
    font-family: "Roboto";
    src: url("./font/Roboto-Regular.ttf");
}

html,
body {
    font-family: "Roboto";
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

#app {
    background-color: #efecec;
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

.w-100 {
    width: 100%;
}

.w-90 {
    width: 90%;
}

.w-85 {
    width: 85%;
}

.w-15 {
    width: 15%;
}

.w-80 {
    width: 80%;
}

.w-20 {
    width: 20%;
}

.w-30 {
    width: 30%;
}

.w-40 {
    width: 40%;
}

.w-img {
    width: 8%;
}

.c-gray {
    color: gray;
}

.bg-white {
    background-color: white;
}

.h-fit-content {
    height: fit-content;
}

.shadow-top {
    box-shadow: 0 -1rem 1rem rgb(0 0 0 / 15%) !important;
}

.logo-span-small {
    padding: 0rem 1rem;
    font-size: 1.5rem;
    font-weight: 900;
}

a.nav-link {
    font-weight: 900;
    color: #71869d;
}

a.nav-link:hover {
    color: #35509a;
}

.login-button {
    background-color: #35509a;
    border-color: #35509a;
}

.login-button:hover {
    background-color: #2b417e;
    border-color: #2b417e;
}

.login-button:active {
    background-color: #2b417e !important;
    border-color: #2b417e !important;
}

.footer {
    width: 100%;
    background-color: white;
}

.logo-social {
    color: #71869d;
    font-size: 1.3em;
    pointer-events: none;
    margin-right: 0.5em;
}

.resource-link {
    text-decoration: none;
    color: #71869d;
}

.resource-link:hover {
    color: #71869d;
    text-decoration: underline;
}

.resource-span {
    font-weight: bold;
}

.login-container {
    height: fit-content;
    margin: 2rem 0rem;
}

.form-container {
    height: fit-content;
    background-color: white;
}

.login-text {
    font-size: 1rem;
}

.image-container {
    width: 2.5rem;
    height: 2.5rem;
}

.image-container img {
    width: 100%;
    border-radius: 50%;
    clip-path: circle();
}

.custom-login::after {
    content: none;
}

.custom-login {
    width: auto;
}

.no-hover {
    background-color: transparent !important;
    border-color: transparent !important;
}

.custom-dropdown {
    left: -160% !important;
}

.avatar-icon {
    font-size: 1.7rem;
}

.panel-container {
    background-size: 165%;
    background-repeat: no-repeat;
    height: 80vh;
    background-position: center;
}

.panel-tittle {
    font-size: 3rem;
    font-weight: bolder;
    color: #f3f3f3;
}

.panel-content {
    font-size: 1.5rem;
    font-weight: bolder;
    color: #f3f3f3;
    text-align: center;
}

.no-text-deco {
    text-decoration: none;
    color: black;
}

.no-text-deco:hover {
    text-decoration: none;
    color: black;
}

.cs-light-btn {
    border-color: #2b417e;
    color: #2b417e;
    font-weight: bold;
}

.cs-light-btn:hover {
    border-color: #2b417e;
    background-color: #2b417e;
    color: white;
    font-weight: bold;
}

.cs-light-btn:active {
    border-color: #2b417e !important;
    background-color: #2b417e !important;
    color: white !important;
    font-weight: bold !important;
}

.item-wraper {
    background-color: white;
    box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 15%);
    height: 100%;
}

.item-wraper:hover {
    transform: translateY(-2px);
    transition: all .4s;
    box-shadow: 0 0rem 1rem 11px rgb(0 0 0 / 15%);
}

.mini-panel {
    background-image: url('./img/mini-test.png');
}

.part-panel {
    background-image: url('./img/part-test.png');
}

.test-item-panel {
    margin-top: 1rem;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1rem 1.5rem;
    width: 47%;
    border-radius: 1rem;
}

.test-item-panel-main-title {
    font-size: 30px;
    font-weight: 700;
    color: white;
}

.test-item-panel-main-decs {
    width: 70%;
    font-size: 16px;
    color: white;
}

.panel-button {
    font-size: 24px;
    font-weight: 700;
    color: white;
}

.cs-test-type-btn {
    color: black;
}

.cs-test-type-btn:hover {
    color: black;
    background-color: #d2d4d6;
}

.cs-test-type-btn-active {
    color: blue;
    background-color: #d7dff7;
    font-weight: 700;
}

.part-button {
    color: #1a1a1a;
    border-color: #f8f9fa;
    background-color: #f8f9fa;
}

.part-button:hover {
    color: #1a1a1a;
    background-color: #e7eaf3;
    border-color: #f8f9fa;
}

.part-button:active, .part-button.active {
    background-color: #e8f2ff;
    color: #35509a;
    font-weight: 500;
    border-color: #e8f2ff;
}


.question-image {
    width: 500px;
    height: 250px;
}

.question-order strong {
    border-radius: 50%;
    background-color: #e8f2ff;
    color: #35509a;
    width: 35px;
    height: 35px;
    line-height: 35px;
    font-size: 15px;
    text-align: center;
    display: inline-block;
    cursor: default;
}

.time-left {
    font-weight: 600;
    font-size: 1.2rem;
}

.question-check {
    display: inline-flex;
    border-radius: 3px;
    border-color: #f7faff;
    border: 1px solid;
    font-weight: 600;
    margin-right: 4px;
    margin-bottom: 8px;
    width: 28px;
    height: 25px;
    font-size: 11px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.question-check:hover, .question-check.done {
    background-color: #35509a;
    color: #fff;
    border-color: #35509a;
}

.question-check.mark {
    background-color: #ffad3b;
    color: #fff;
    border-color: #ffad3b;
}

.text-warning {
    color: #ffad3b!important;
    font-size: small;
}

.txt-green {
    color: #3cb46e;
}

.txt-red {
    color: #e43a45;
}

.txt-gray {
    color: #71869d;
}

.column-2 {
    columns: 2;
}
